#requirements.txt

streamlit
openai
python-dotenv
fastapi
uvicorn
httpx
requests
supabase
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
streamlit-google-auth
extra-streamlit-components
pydantic